
@import url( '../library/css/one-five.min.css' );
@import url( '../library/css/gallery.min.css' );
@import url( 'genericons.css' );
@import url( 'defaults.css' );
@import url( '../style.css' );

/************ specific to the editor **************/
body#tinymce {
	margin:    0 auto;
	padding:   1.5rem 1.5rem 0;
	border:    none;
}

/*************************************************/
