
/**
 * Images
 * --------------------------------------------------------------------------- */

img {
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
}

	a img {
		opacity:            0.85;
		-webkit-transition: all 0.5s ease-in-out;
		   -moz-transition: all 0.5s ease-in-out;
		      -o-transition:  all 0.5s ease-in-out;
		        transition: all 0.5s ease-in-out;
	}

		a:hover img,
		a:focus img { opacity: 1; }

/* === Image sizes === */

@media only screen and ( min-width: 700px ) {
	.ltr img.portrait.stargazer-full {
		float:     right;
		max-width: 33%;
		margin:    0 0 1.5rem 1.5rem;
	}

	.rtl img.portrait.stargazer-full {
		float:     left;
		max-width: 33%;
		margin:    0 1.5rem 1.5rem 0;
	}
}

img.stargazer-medium,
img.stargazer-full { margin: 0 0 1.5rem; }

/* === Captions === */

.wp-caption {
	position: relative;
	max-width: 100%;
}

	.wp-caption .wp-caption-text {
		position:   absolute;
		bottom:     1.5rem;
		padding:    0.75rem;
		font-size:  0.9375rem;
	}

		.ltr .wp-caption .wp-caption-text { margin-right: 1.5rem; }
		.rtl .wp-caption .wp-caption-text { margin-left:  1.5rem; }

/* === Gallery === */

.main .gallery { margin-bottom: 1rem; }

	.gallery .gallery-item { margin-bottom: 0.5rem; }

			.gallery .gallery-icon a img {
				padding: 9px;
				border:  1px solid;
			}

		.gallery .gallery-caption { font-size: 0.9375rem; }

			.singular-attachment .gallery-caption { display: none; }

		@media only screen and ( max-width: 481px ) {

			.gallery .gallery-row .gallery-item { float: none; width: 100%; }

			.gallery .gallery-icon img { max-width: 100%; }
		}

/* === Avatars === */

.avatar {
	width:         60px;
	height:        60px;
	margin:        0 0 1.5rem;
	border:        1px solid;
	border-radius: 50%;
}

	.ltr .avatar { float: left;  margin-right: 1.5rem; }
	.rtl .avatar { float: right; margin-left:  1.5rem; }

/* === Embeds === */



	.embed-wrap {
		position:       relative;
		margin-bottom:  1.5rem;
		padding-bottom: 56.25%;
		padding-top:    30px;
		height:         0;
		overflow:       hidden;
	}

	.embed-wrap iframe,
	.embed-wrap object,
	.embed-wrap embed {
		position:  absolute;
		top:       0;
		left:      0;
		width:     100%;
		max-width: 100%;
		height:    100%;
	}

	iframe.wp-embedded-content {
		width: 100%;
		margin: 0;
	}
/********************************************************************************************************
 * 1.7 - Media
 *
 * This section deals with handling media and the output of media-related elements.
 ********************************************************************************************************/

/**
 * Attachment meta
 *
 * Attachment meta is shown on attachment pages and along with the WordPress media player.
 */

.attachment-meta .media-info,
.attachment-meta .image-gallery { margin-bottom: 1.5rem; }

	@media only screen and ( min-width: 800px ) {

		.attachment-meta .image-info,
		.attachment-meta .image-gallery { width: 47.5%; }

		.rtl .attachment-meta .image-info,
		.ltr .attachment-meta .image-gallery { float: right; }

		.ltr .attachment-meta .image-info,
		.rtl .attachment-meta .image-gallery { float: left; }
	}

	.media-info ul {
		margin:     0 0 1.5rem;
		list-style: none;
	}

		.media-info li {
			display:       block;
			padding:       5px 10px;
			font-size:     1rem;
			border-bottom: 1px dotted;
		}

			.media-info li:last-child { border: none; }

			.media-info .prep,
			.media-info .data {
				display:    block;
				text-align: center;
			}

			.media-info .prep {
				font-size:      0.9375rem;
				text-transform: capitalize;
			}

			@media only screen and ( min-width: 700px ) {

				.media-info .prep { max-width: 30%; }
				.media-info .data { max-width: 70%; }

				.ltr .media-info .data { float: right; text-align: right; }
				.rtl .media-info .data { float: left; text-align: left; }

				.ltr .media-info .prep { float: left; text-align: left; }
				.rtl .media-info .prep { float: right; text-align: right; }
			}

/**
 * Audio/Video shortcode extend
 *
 * This feature adds a toggle button to the WordPress media player for showing/hiding additional meta
 * information about the media.
 */

.media-shortcode-extend {
	margin-top: -1.5rem;
	text-align: center;
}

	.media-shortcode-extend .media-info {
		overflow:   hidden;
		display:    none;
		padding:    1.5rem 1.5rem 0;
	}

	.media-shortcode-extend .audio-info { border-top: 1px solid; }

	.media-shortcode-extend a,
	.media-shortcode-extend a:hover,
	.media-shortcode-extend a:focus { border: none; }

	.media-shortcode-extend a:hover,
	.media-shortcode-extend a:focus { text-decoration: underline; }

	.media-info-toggle,
	.entry-content .media-info-toggle {
		position:        relative;
		display:         inline-block;
		margin:          0 auto 1.5rem;
		padding:         10px 1.5rem;
		font-size:       0.9375rem;
		line-height:     16px;
		border:          none;
		text-decoration: none;
	}

		@media only screen and (min-width: 700px) {
			.ltr .media-info-toggle { float: right; margin-right: 3rem; }
			.rtl .media-info-toggle { float: left;  margin-left: 3rem;  }
		}

/**
 * WordPress playlist
 *
 * Customizes the output of the media playlist.  For the full media playlist styles, see the
 * `mediaelement/medialement.css` stylesheet.
 */

.wp-playlist {
	padding: 0;
	border:  none;
}

	.wp-playlist-dark  { padding-top: 1.5rem; }
	.wp-video-playlist { padding-top: 0;      }

	/* Currently playing. */
	.wp-playlist-current-item {
		padding: 0 1.5rem;
	}

		.wp-playlist-current-item img { max-width: 100px; }

		.wp-playlist-item-meta { font-size: 1rem; }

	/* Media player. */
	.wp-playlist-dark .mejs-controls {
		padding-bottom: 5px;
		/*border-top:    1px solid;*/
		border-bottom: 1px solid;
	}

	/* Playlist tracks (list of items). */

	.wp-playlist-tracks {
		margin-top: 0;
		padding:    1rem 1.5rem;
		border:     1px solid;
	}

		.wp-playlist-dark .wp-playlist-tracks { border: none; }

		.wp-playlist-item {
			margin:        0;
			padding:       0.5rem 0;
			font-size:     1rem;
			border-bottom: 1px dotted;
		}

			.wp-playlist-item a { color: inherit; border: none; }

			.wp-playlist-item-title { text-transform: capitalize; }

		.wp-playlist-playing { font-weight: normal; }

/**
 * WordPress media player.
 *
 * This overwrites various elements of the media player styles included.  For the full media player styles,
 * see the `mediaelement/medialement.css` stylesheet.
 */

.mejs-container { margin-bottom: 1.5rem; }

/*
	.wp-audio-shortcode.mejs-container { min-height: 100px !important; }
*/
	.mejs-controls {
		width:           100%;
		height:          35px;
		padding:         0;
		-moz-box-sizing: border-box;
		     box-sizing: border-box;
	}

	.audio-shortcode-wrap .mejs-controls {
		padding-left: 16px;
		padding-right: 6px;
	}

	.wp-video-shortcode .mejs-controls {
		border-top:    1px solid;
		border-bottom: 1px solid;
		opacity:       0.8;
		bottom: 0;
	}

	.wp-audio-shortcode .mejs-controls { top: 0; }
	.audio-shortcode-wrap .mejs-controls { top: 35px; }

	.mejs-controls > div { margin-top: 10px; }

		/* Fix for last item dropping below the controls. */
		.mejs-controls > :last-child {
			position: relative;
			float:    right;
		}

		.wp-audio-shortcode .mejs-mediaelement {
			position: relative;
			top:      0;
			left:     0;
			width:    100%;
			height:   100%;
		}

		.mejs-overlay-loading span {
			background: transparent url( 'mediaelement/images/loading.gif' ) 50% 50% no-repeat;
		}

		.mejs-button button {
			height:     16px;
			width:      16px;
			background: transparent url( 'mediaelement/images/controls.png' ) no-repeat;
		}

			.mejs-fullscreen-button button,
			.mejs-playpause-button button,
			.mejs-volume-button button { background: none; }

			.mejs-button button:focus { outline: 1px solid; }

		.mejs-time > span,
		.mejs-time .mejs-currenttime,
		.mejs-time .mejs-duration {
			font-size: 0.75rem;
		}

		.mejs-volume-button .mejs-volume-slider {
			width:       40px;
			margin-left: -10px;
		}

			.mejs-volume-button .mejs-volume-slider .mejs-volume-total,
			.mejs-volume-button .mejs-volume-slider .mejs-volume-current {
				top:    10px;
				left:   50%;
				width:  4px;
				margin: 0 0 0 -2px;
			}

			.mejs-volume-button .mejs-volume-slider .mejs-volume-handle {
				left:   50%;
				width:  20px;
				height: 4px;
				margin: 0 0 0 -10px;
			}

		.mejs-overlay-button {
			width:  112px;
			height: 112px;
			margin: -56px 0 0 -56px;
		}

			.mejs-overlay-play .mejs-overlay-button::after {
				content:       '\f452';
				padding:       18px;
				font-size:     64px;
				line-height:   64px;
				border-radius: 50%;
				opacity:       0.85;
			}

		.mejs-controls>div, .mejs-controls>a { width: 16px; margin: 0; }

		.mejs-controls > div { margin: 0; }

		.mejs-controls > .mejs-button { margin-right: 5px; }

		.mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
		.mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
			top: 11px;
			left: 5px;
		}

		.mejs-controls .mejs-time-rail {
			height: 2px;
			margin: 0;
			padding: 0;
			padding: 0px 4px;
    box-sizing: border-box;
		}
		.mejs-time-rail,
		.mejs-time-total {
			float: none !important;
			width: 100% !important;
			padding: 0 !important;
		}

		.mejs-time-rail .mejs-time-total {
			margin: 0;
		}

			.wp-audio-playlist .mejs-time-rail {
			margin-left: -10px;
    width: calc( 100% + 20px ) !important;
			}

		.mejs-time-rail span,
		.mejs-time-rail > a { height: 2px; }


		.mejs-time-rail .mejs-time-float {
			top:         -38px;
			height:      27px;
			width:       50px;
			margin-left: -25px;
			border:      1px solid;
		}

		.mejs-time-rail .mejs-time-float-current {
			width:      100%;
			margin:     8px 0;
			font-size:  0.75rem;
			box-sizing: border-box;
		}

		.mejs-time-rail .mejs-time-float-corner {
			top:  28px;
			left: 20px;
		}

		.mejs-controls .mejs-time { margin-right: 2px; }
		.mejs-time > span { opacity: 0.5; padding: 0 3px; }
		.mejs-time > .mejs-currenttime,
		.mejs-time > .mejs-duration { opacity: 1; padding: 0; }

		.wp-video-shortcode .mejs-time {
			float: left;
			margin-left: 8px;
		}

		.mejs-controls .mejs-fullscreen-button {
			float:        right;
			margin-right: 16px;
			margin-left:  8px;
		}

	/* Wrapper added when the audio player has an accompanying image. */

	.audio-shortcode-wrap {
		position:      relative;
		max-height:    136px;
		overflow:      hidden;
		margin-bottom: 1.5rem;
	}

		.audio-image {
			position:    relative;
			border:      none;
			margin:      0;
			padding:     8px 0 0;
			max-width:   20%;
			max-height:  131px;
			height:      auto;
		}

			.ltr .audio-image { left: 0;  padding-left: 8px; }
			.rtl .audio-image { right: 0; padding-right: 8px; }

		.audio-shortcode-wrap .wp-audio-shortcode {
			position:   absolute !important;
			top:        50%;
			margin-top: -1.5rem;
			clear:      none;
			width:      79% !important;
		}

		.audio-shortcode-wrap .wp-audio-shortcode .mejs-controls { top: 10px; }

			.ltr .audio-shortcode-wrap .wp-audio-shortcode { left: 20%; }
			.rtl .audio-shortcode-wrap .wp-audio-shortcode { left: 0; }

/********************************************************************************************************
 * ====== End Media ======
 ********************************************************************************************************/


/**
 * 2.2 - Color Definitions
 *
 * The following are all of the colors defined by the theme.  The only other colors are part of the theme
 * customizer options and should not be overwritten.  If needed, copy the specific sections below into
 * your child theme and make the necessary changes there.
 */

/*
 * Fun Zone: The colors below are safe to overwrite depending on what you need to do.  Have at it!
 */

/* ====== color: #656565 ====== */

.media-shortcode-extend .media-info,
.wp-playlist-dark .wp-playlist-item {
	color: #656565;
}

/* ====== border-color: #e3e3e3 ====== */

.gallery .gallery-icon a img,
.avatar,
.media-info li,
.wp-playlist-tracks,
.wp-playlist-item {
	border-color: #e3e3e3;
}

/* ====== color: #555 ====== */


/* ====== color: #858585 ====== */

.gallery .gallery-caption,
.gallery-count,
.wp-playlist-dark .wp-playlist-item-meta {
	color: #858585;
}

/* ====== background: #252525 ====== */

.audio-shortcode-wrap,
.media-shortcode-extend .media-info,
.media-info-toggle,
.entry-content .media-info-toggle,
.media-info-toggle:hover,
.media-info-toggle:focus,
.wp-audio-shortcode.mejs-container,
.mejs-controls,
.mejs-volume-button .mejs-volume-slider,
.mejs-overlay-play .mejs-overlay-button::after,
.mejs-time-rail .mejs-time-float,
.wp-playlist-dark {
	background: #252525;
}

/* ====== background: transparent ====== */

.mejs-container,
.mejs-embed,
.mejs-embed body,
.mejs-overlay-button,
.mejs-controls > .mejs-button button:hover,
.mejs-controls > .mejs-button button:focus {
	background: transparent;
}

.wp-caption .wp-caption-text {
	color:      #e3e3e3;
	background: rgba( 0, 0, 0, 0.75 );
}

.gallery .gallery-icon a img { background: #f9f9f9; }

.gallery-icon a:hover img,
.galley-icon a:focus img { background: #f3f3f3; }

.wp-playlist-item-meta { color: rgba( 85, 85, 85, 0.75 ); }

.image-sizes .sep { color: #e3e3e3; }

.media-shortcode-extend .audio-info     { border-color: #202020; }
.media-shortcode-extend .media-info li,
.wp-playlist-dark .wp-playlist-item     { border-color: #353535; }
.wp-video-shortcode .mejs-controls,
.wp-playlist-dark .mejs-controls        { border-color: #151515; }
.mejs-time-rail .mejs-time-float        { border-color: #454545; }
.mejs-time-rail .mejs-time-float-corner { border-top-color: #fff; }

.mejs-time-rail .mejs-time-total,
.mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mejs-volume-button .mejs-volume-slider .mejs-volume-total {
	background: #454545;
}

.mejs-time-rail .mejs-time-current { background: rgba( 255, 255, 255, 0.35 ); }

.mejs-overlay-play .mejs-overlay-button::after { text-shadow: 1px 1px 2px #151515; }

.mejs-button button:focus { outline-color: #555; }


.media-shortcode-extend a,
.media-shortcode-extend a:hover,
.media-shortcode-extend a:focus,
.media-info-toggle,
.entry-content .media-info-toggle,
.mejs-time .mejs-currenttime,
.mejs-time .mejs-duration,
.mejs-volume-button .mejs-volume-slider .mejs-volume-current,
.mejs-volume-button .mejs-volume-slider .mejs-volume-handle,
.media-info-toggle:hover,
.media-info-toggle:focus,
.mejs-overlay-play .mejs-overlay-button::after,
.mejs-time-rail .mejs-time-float,
.wp-playlist-dark .wp-playlist-playing,
.wp-playlist-dark .wp-playlist-caption:hover,
.wp-playlist-dark .wp-playlist-caption:focus,
.wp-playlist-dark .wp-playlist-item:hover
.wp-playlist-dark .wp-playlist-item:focus {
	color: #fff;
}

.wp-video,
.wp-video-shortcode { max-width: 100%; }



